td, th {
	border: 1px solid;
  }
h1 {
	color: red;
}
#planets img {
	width: 200px; 
	height: 200px;
} 
body {
	background-image: url('spaceimages/space.png');
	background-size: cover;
}
h1 {
  text-align: center;
  color: #333; 
  font-size: 36px;
}

