td, th {
	border: 1px solid;
}
#planets img {
	width: 200px; 
	height: 200px;
} 
h1 {
	text-align: center;
	color: blue; 
	font-size: 36px;
}
tr {
	color: blue;
	font-family: Arial;
}
#planets {
	margin: 0 auto;
} 
